body{
    direction: rtl;
    background-color: gray;
    margin: 0px;
}
#header{
    font-size: 50px;
    background-color: aqua;
    text-align: center;
}
main{
    background-color: rgb(211, 211, 211);
    margin-top: 10px;
    padding: 5px;
    display: flex;
}
#body1,#body2{
    font-size: 30px;
    background-color: orange;
    height: 1000px;
    text-align: center; 
    flex-grow: 1;   
    margin: 10px;
}
#footer{
    background-color: blue;
    font-size: 20px;
    font-style: oblique;
}
.flex-container{
    display: flex;
    background-color: blue;
    justify-content: center;
    text-align: center;
    margin-top:10px;
}
.item-flex{
    width: 150px;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    font-size: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
.item-flex:hover {
    background-color: black;
}
a:hover{
    color: white;
}
